<div class="container mt-5">

  <% if @discount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discount.errors.count, "error") %> prohibited this discount from being saved:</h2>

      <ul>
      <% @discount.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="discount-form">

<div class="form-group row">

<div class="form-check col">
  <%= f.radio_button(:discount_type, "dollar", class:"form-check-input")%>
  <%= label :discount_type, 'Dollars (or flat) based discount', class:"form-check-label" %>
</div>

<div class="form-check col">
  <%= f.radio_button(:discount_type, "percentage", class:"form-check-input")%>
  <%= label :discount_type, "Percentage based discount", class:"form-check-label"  %>
</div>
</div>
<br>


<div class="form-group row">
  <%= f.label :discount_amount %>
  <%= f.number_field :discount_amount, class: 'form-control' %>
</div>
<br>

<div class="form-group row">
  <%= f.label :quantity_for_discount %>
  <%= f.number_field :quantity_for_discount, class: 'form-control' %>
</div>
<br>

  <%= f.submit 'Submit', class: 'btn btn-primary' %>

</div>
</div>
