<section class="mt-5" id="discounts">

<h2 class="text-center mb-5">My Discounts</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Discount ID</th>
      <th scope="col">Type</th>
      <th scope="col">Quantity</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @discounts.each do |discount| %>
    <tr id="discount-<%=discount.id %>">
      <td> #<%= link_to discount.id, dashboard_discount_path(discount)  %> </td>
      <td> <%= discount.discount_type.capitalize %> </td>
      <td> <%= discount.quantity_for_discount %> </td>
      <td> <%= discount.discount_amount %> </td>
    </tr>
    <% end %>

  </tbody>
</table>
</section>

<section>
  <p>
    <%= link_to "Create New Discount", new_dashboard_discount_path %>
  </p>
</section>
